@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

main {
  margin: auto;
  max-width: 90vw;
  font-family: "Open Sans", sans-serif;
}

header {
  height: 100vh;
  margin-top: 1rem;
}

/* Styling of nav  */

nav,
ul {
  display: flex;
  justify-content: space-between;
  /* font-weight: bold; */
}
ul li {
  list-style-type: none;
  margin: auto 15px;
}
li:last-child {
  margin-left: 100px;
}

/* Styling of heading   */

.heading {
  display: flex;
  margin-top: 5rem;
}

.heading .about {
  margin-top: 3rem;
  width: 60vw;
}

.heading .about .welcome {
  font-size: 3rem;
  margin-bottom: 0;
}

.heading .about h1 {
  font-size: 3rem;
  margin: 0;
}

.heading .about .hero {
  width: 25rem;
  margin: 1.2rem 0;
  line-height: 1.5;
}

.heading .carousel {
  text-align: center;
  border-radius: 50px;
  background: #000;
  width: 40vw;
}

.heading .about button {
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-right: 1rem;
  background: #f9f2f8;
}

.heading .about .aboutBtn {
  background: transparent;
  border: none;
}
